.swiper-button-next,
.swiper-button-prev {
  color: #ffba08 !important;

  &::after {
    font-size: 1.875rem !important;
  }
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #ffba08 !important;
}

.swiper-pagination-bullet {
  background: #999999 !important;
  opacity: 1 !important;
  width: 1rem !important;
  height: 1rem !important;
  margin-left: 6px !important;
  margin-right: 6px !important;
}

.swiper-button-next {
  right: 30px !important;
}

.swiper-button-prev {
  left: 30px !important;
}